body {
    font-family: Verdana, Tahoma, sans-serif;
}

.navbar {
    background-color: whitesmoke;
}

nav ul li a {
    padding-right: 10px;
  }

nav ul li a:hover {
    font-weight: bold;
    color: #644C7C;
  }

.carrusel {
    color: blue;
}