body {
    font-family: Verdana, Tahoma, sans-serif;
}

.navbar {
    background-color: whitesmoke;
}

nav ul li a {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

nav ul li a:hover {
    font-weight: bold;
    color: #644C7C;
  }

.button-for{
    border-radius: 15px;
    padding-left: 30px;
}
.carrusel {
    color: black;
}